<footer>
    <section>
        <div class="social-container-icons">
            {%- if config.extra.socials %}
            {% for social in config.extra.socials %}
            <a rel="noopener noreferrer" target="_blank" class="social-link" href="{{ social.url }}">
                <img class="social-icons" alt="{{ social.name }}" title="{{ social.name }}" src="/social_icons/{{ social.icon }}.svg">
            </a>
            {% endfor %}
            {% endif %}
        </div>
       
    
        <p>
            Living, learning, & leveling up one day at a time.
        </p>
        
    </section>
    <!--Bootstarp script-->
    <script src="{{ get_url(path='js/main.js', trailing_slash=false) | safe }}"/></script>

      
</footer>
