<footer>
    <section>
        <div class="social-container-icons">
            {%- if config.extra.socials %}
            {% for social in config.extra.socials %}
            <a rel="noopener noreferrer" target="_blank" href="{{ social.url }}" class="social-link">
                <img alt="{{ social.name }}" class="social_icons" title="{{ social.name }}" src="/social_icons/{{ social.icon }}.svg">
            </a>
            {% endfor %}
            {% endif %}
        </div>
        <div>
            Living, learning, & leveling up one day at a time.
        </div>
    </section>
    <script src="{{ get_url(path='js/main.js', trailing_slash=false) | safe }}"/></script>
</footer>
