/*Globals_________________*/
a::hover{
    background-color: transparent;
}

/*Nav_____________________*/
.logo-nav{
    width: 90px;
}

/*About me container_______*/
.name > h2{
    font-size: 1.6rem;
    text-align: center;
}
.title-richard{
    position: relative;
}
.title-richard::before{
    content: "";
    width: 150px;
    margin: 5px auto 0;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background-color:#d2691e;
}

/*custom image richard______*/

.richard-img{
    width:250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%; 
    
}
.img-profile-container{
    margin: 0 auto;
    text-align: center;
}


/*footer ___________________*/

footer > section{
    gap: 0;
}

/*social-icons _____________*/
.social-container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
a.social-link{
    min-width: 35px;
    height: auto;
}
.social>img{
    
    width: 35px;
    height: auto;
}