/*Globals*/
body{
    min-width: 100%;
}
a{
    text-decoration: none!important;
    color: black;
}
p{
    font-size: small;
}
/*utilities*/
.position-relative{
    position: relative;
    
}

/*index with my info*/
.index-main-container{
    width: 80%;
    margin: 0 auto;
}

.profile-image{
    border-radius: 50%;
    margin-bottom: -50px;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: rgba(255, 68, 0, 0.507) 1px 1px 15px ;
}
div.info-container{
    padding:80px 20px 20px 20px;
    border-radius: 10px;
}

.institute:before{
    content: "";
    width: 150px;
    margin: 10px auto 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color:orangered;
}


/*footer ___________________*/

footer > section{
    gap: 0;
}

/*social-icons _____________*/
.social-container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social_icons{
    width: 20px;
}
a.social-link{
    min-width: 35px;
    height: auto;
}
.social>img{
    
    width: 35px;
    height: auto;
}