/*Globals*/
body{
    min-width: 100%;
}
h1,h2,h3,h4{
    color: var(--text-color);
}
a{
    text-decoration: none!important;
    
}
p{
    font-size: small;
    color: var(--text-color);
}
/*utilities*/
div.position-relative{
    position: relative;
}
.under-line:before{
    content: "";
    width: 150px;
    margin: 10px auto 0;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color:orangered;
}
.under-line-page-title:before{
    content: "";
    width: 300px;
    margin: 10px auto 0;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background-color:orangered;
}
.title{
    font-size: 1.6rem;
}
.margin-inline{
    margin-top:65px!important;
}
.z-index-front{
    z-index: 10!important;
}

/*base.html css */
div.main-container{
    margin: 0 auto;
    width: 80%;
}

@media (max-width:480px){
    div.main-container{
        margin: 54px 0 !important;
        width: 100%;
    }
    
}

/* with my info*/


.profile-image{
    border-radius: 50%;
    margin-bottom: -50px;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: rgba(255, 68, 0, 0.507) 1px 1px 15px ;
}
div.info-container{
    background-color: var(--background-color);
    padding:80px 20px 20px 20px;
    border-radius: 10px;
}
div.personal-info{
    margin: 10px auto 0;
    width: 80%;
}

.institute:before{
    content: "";
    width: 150px;
    margin: 10px auto 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color:orangered;
}
/*about*/
div.about-container{
    background-color: var(--background-color)!important;
}

/*contact*/
.contact-form{
    z-index: 50!important;
}
input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 10px;
}


.btn-submit{
    background-color: var(--backgroun-button-color)!important;
    color: var(--color-text-button)!important;
    border: 1px solid var(--border-color-2)!important;
}
.btn-submit:hover{
    background-color: white!important;
    color: orangered!important;
    scale: 1.1;
    box-shadow: var(--box-sadow-button);
    transition: all .5s;
}

/*footer ___________________*/

footer > section{
    gap: 0;
}

/*social-icons _____________*/
.social-container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social_icons{
    width: 20px;
}
a.social-link{
    min-width: 35px;
    height: auto;
}
.social>img{
    width: 35px;
    height: auto;
}