{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang = "en">
{% include "partials/header.html" %}


<body>
    {% include "partials/nav.html" %}

    <div class="container mt-5">
        {# Post page is the default #}
        {% block main_content %}
            
        {% endblock main_content %}
    </div>

    {% include "partials/footer.html" %}

  <!--Bootstarp script-->
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
</body>

</html>
