{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang = "en" data-theme="light">
{% include "partials/header.html" %}

<body>
    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
       
    <div class=" mt-5 row row-cols-2 main-container">
        <div class="col-4">
            {% set section = get_section(path="home/_index.md") %}
            {{ post_macros::page_desc(desc=section.extra.desc) }}
        </div>
        <div class="col-8">
            <div class="row">
                {% include "partials/nav.html" %}
            </div>
            <div class=" row">
               <p>
                {% block general_content %}

                {% endblock %}
               </p>
            </div>
        </div>
    </div>
   
        {% include "partials/footer.html" %}
</div >
</body>

</html>
